.fab {
    position: fixed;
    bottom: 5rem;  /* Distância do fundo da tela */
    right: 1rem;   /* Distância da lateral direita da tela */
    width: 60px;
    height: 60px;
    border-radius: 50%;  /* Deixa o botão redondo */
    background-color: purple;  /* Cor de fundo do FAB */
    color: white;  /* Cor do texto */
    font-size: 30px;  /* Tamanho do texto ou ícone */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }